@model Domain.Models.Destination

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <a asp-action="Index" asp-controller="Apartments" asp-route-id="1">
                    <img class="card-img-top" src="~/images/apartment.jpg" alt="Apartments">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Apartments</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <a asp-action="Index" asp-controller="Hotels" asp-route-id="2">
                    <img class="card-img-top" src="~/images/hotel.jpg" alt="Hotels">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Hotels</h5>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .container {
        margin-top: 20px;
    }
</style>
