@model List<Domain.Models.Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="card-img-top" src="@item.ImageUrl" alt="@item.Name">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                </div>
            </div>

            if ((i + 1) % 3 == 0 && i != Model.Count - 1)
            {
                @:</div><div class="row">
            }
        }
    </div>
</div>

<style>
    .row {
        display: flex;
        margin-top: 20px;
    }
    img {
        width: 100%;
        height: auto;
    }
    .card {
    box-shadow: 0 4px 10px rgba(160, 66, 178, 0.5); 
    border-radius: 6px;
    border: rgba(170, 7, 178, 0.5); 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 200px; 
    object-fit: cover; 
}

</style>
