@model List<Domain.Models.Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="card-img-top" src="@item.ImageUrl" alt="@item.Name">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                </div>
            </div>

            if ((i + 1) % 3 == 0 && i != Model.Count - 1)
            {
                @:</div><div class="row">
            }
        }
    </div>
</div>

<style>
    .row {
        display: flex;
        margin-top: 20px;
    }
    img {
        width: 100%;
        height: auto;
    }
</style>
