@model List<Domain.Models.Hotel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i % 3 == 0)
        {
            if (i != 0) {
                @:</div> 
            }
            @:<div class="row">
        }

        var item = Model[i];
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <a asp-action="Details" asp-controller="Hotels" asp-route-id="@item.Id">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p>@item.Location</p>
                </div>
            </div>
        </div>
    }

    @if (Model.Count % 3 != 0)
    {
        @:</div> 
    }
</div>

<style>
    .row {
        display: flex;
    }
    img {
        width: 275px;
        height: 183px;
    }
</style>
