@model IEnumerable<Domain.Models.Payment>

@{
    ViewData["Title"] = "Payments List";
}

<h1 style="color:rgba(128, 0, 128, 0.5); font-weight:600; margin-left:550px;">Payments List</h1>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped table-bordered text-center" style="box-shadow: 0 0 15px rgba(128, 0, 128, 0.5);">
                <thead>
                    <tr>
                        
                        <th>Cardholder Name</th>
                        <th>Payment Date</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model)
                    {
                        <tr>
                            
                            <td>@payment.CardholderName</td>
                            <td>@payment.PaymentDate.ToString("yyyy-MM-dd")</td>
                                  
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
